<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hiram.acl.mapper.UserMapper">

    <!--简单情况下，只需要指定实体类跟数据库表不一致的属性和列即可，一致的字段会自动映射-->
    <!--如果使用了collection等，则不会自动映射字段，需要手动一一指定-->

    <resultMap id="baseMap" type="hiram.pojo.po.BasePO">
        <result property="deleted" column="deleted" />
        <result property="gmtCreate" column="gmt_create" />
        <result property="gmtModify" column="gmt_modify" />
        <result property="version" column="version" />
    </resultMap>

    <!--使用查询嵌套，解决一对多时的分页问题-->
    <resultMap id="sysUserResult" type="hiram.ucenter.pojo.dto.UserSelectDTO" extends="baseMap">
        <id property="userId" column="user_id" />
        <collection property="roles" javaType="java.util.List" select="getRolesByUserId" column="user_id" />
    </resultMap>

    <delete id="deleteByIdsPermanently">
        delete from user
        <where>
            <if test="array != null and array.length >0">
                user_id in
                <foreach collection="array" item="userId" open="(" separator="," close=")">
                    #{userId}
                </foreach>
            </if>
        </where>
    </delete>

    <delete id="deleteByIdPermanently">
        delete from user
        where user_id = #{userId}
    </delete>

    <!--如果userId为null，则语句不会执行-->
    <!--注意，不要使用动态where语句-->
    <update id="updateUser" parameterType="hiram.acl.pojo.po.SysUser">
        update user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="realName != null and realName != ''">
                real_name = #{realName},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                phone_Number = #{phoneNumber},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="enabled != null">
                enabled = #{enabled},
            </if>
        </set>
        where user_id = #{userId}
    </update>

    <update id="recoverById" parameterType="Long">
        update user
        set deleted=0
        where user_id=#{userId}
    </update>

    <update id="recoverByIds" parameterType="java.util.List">
        update user
        set deleted = 0
        <where>
            <if test="array != null and array.length >0">
                user_id in
                <foreach collection="array" item="userId" open="(" separator="," close=")">
                    #{userId}
                </foreach>
            </if>
        </where>
    </update>

    <select id="checkUserNameUnique" parameterType="String" resultType="hiram.acl.pojo.po.SysUser">
        select user_id
        from user
        where username = #{username}
    </select>

    <select id="checkPhoneUnique" parameterType="String" resultType="hiram.acl.pojo.po.SysUser">
        select user_id
        from user
        where phone_number = #{phoneNumber}
    </select>

    <select id="checkEmailUnique" parameterType="String" resultType="hiram.acl.pojo.po.SysUser">
        select user_id
        from user
        where email = #{email}
    </select>

    <!--集条件查询于一体-->
    <select id="selectUserList" parameterType="hiram.acl.pojo.query.UserListServiceQuery" resultMap="sysUserResult">
        select u.*
        from user u
        where deleted=0
        <if test="username != null and username != ''">
            and u.username like concat('%', #{username}, '%')
        </if>
        <if test="phoneNumber != null and phoneNumber != ''">
            and u.phone_number like concat('%', #{phoneNumber}, '%')
        </if>
        <if test="beginTime != null and endTime != null">
            and Date(u.gmt_create) &gt;= #{beginTime} and Date(u.gmt_create) &lt;= #{endTime}
        </if>
    </select>

    <select id="getRolesByUserId" parameterType="Long" resultType="hiram.acl.pojo.po.SysRole">
        select role.*
        from acl_role as role
        left join acl_user_role as ur on role.role_id=ur.role_id
        where role.deleted = 0 and user_id = #{user_id}
    </select>

</mapper>